<h3>Template-master.hbs contents</h3>

<h1>Along the Way</h1>
<p>An app by: Arielle Wilson, John Fahey, Livingston Martin, Mandi Grant</p>
<div id="#childSearchDiv"></div>
<div id="#childMapDiv" class="dimensionalDiv"></div>
