<div id="button-container" style="height:100%">
  <form action="">
    <input id="destinationLocInput" class="controls" type="text" placeholder="Enter your destination"></input>

    <ul id="filterCheckboxes">
    <li><input type="checkbox" name="filter" value="Gyms" class="chkbox">Gyms</li>
    <li><input type="checkbox" name="filter" value="Smoothies" class="chkbox">Smoothies</li>
    <li><input type="checkbox" name="filter" value="Health" class="chkbox">Health Food</li>
    <li><input type="checkbox" name="filter" value="Spas" class="chkbox">Spas</li>
    </ul>

    <button id="showRouteButton">Draw Route!</button>

  </form>
</div>
