<div id="button-container" style="height:100%">
  <form action="" id="parametersForm">
  <div class="searchContext">
  <br>I am looking for...
  <ul id="filterCheckboxes">
    <li><input type="checkbox" name="filter" value="gym" class="chkbox">Gyms</li>
    <li><input type="checkbox" name="filter" value="pharmacy" class="chkbox">Pharmacies</li>
    <li><input type="checkbox" name="filter" value="spa" class="chkbox">Spas</li>
    </ul>
    ...on the way to:<br>
</div>
  <input id="destinationLocInput" class="controls" type="text" placeholder="Enter destination"></input>
    <button id="showRouteButton">Find!</button><br>
  </form>
</div>
<div id="map"></div>
<p><a href="https://github.com/teamswolicorns/along_the_way">Along the Way app</a> developed by <a href="https://www.codefellows.org/">Code Fellows</a> SEA-b20 students for Project Week #1</p>
<p>Arielle Wilson, John Fahey, Livingston Martin, Mandi Grant</p>

