<div id="button-container" style="height:100%">
  <form action="">
    <input id="destinationLocInput" class="controls" type="text" placeholder="Search Box"></input>
    <button id="showRouteButton">Draw Route!</button>
  </form>
</div>
