<div id="home">
  <input type="text" name="startLoc" placeholder="Starting Location"/>
  <br />
  <input type="text" name="destLoc" placeholder="Destination"/>
  <button type="button">Go!</button>
</div>
